[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
psycopg2-binary = "*"
scikit-learn = "*"
python-dotenv = "*"
pydantic = "*"
pickle-mixin = "*"
sqlalchemy = "*"
gunicorn = "*"

[dev-packages]
jupyter = "*"
pytest = "*"
awsebcli = "*"

[requires]
python_version = "3"
