[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
psycopg2-binary = "*"
scikit-learn = "*"
python-dotenv = "*"
logging = "*"
pydantic = "*"
typing = "*"
pickle-mixin = "*"
matplotlib = "*"
sqlalchemy = "*"

[dev-packages]
jupyter = "*"
pytest = "*"
awsebcli = "*"

[requires]
python_version = "3"
